<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <th:block th:fragment="cards-skeleton">
      <div th:replace="~{:: card-skeleton}" />
      <div th:replace="~{:: card-skeleton}" />
      <div th:replace="~{:: card-skeleton}" />
      <div th:replace="~{:: card-skeleton}" />
      <div
        class="hidden"
        th:hx-get="@{/dashboard/cards}"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-target="#dashboard-cards"
      ></div>
    </th:block>

    <!--/* TODO shimmer */-->
    <div
      th:fragment="card-skeleton"
      class="before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_2s_infinite] before:bg-gradient-to-r before:from-transparent before:via-white/60 before:to-transparent"
      th:classappend="'relative overflow-hidden rounded-xl bg-gray-100 p-2 shadow-sm'"
    >
      <div class="flex p-4">
        <div class="h-5 w-5 rounded-md bg-gray-200"></div>
        <div class="ml-2 h-6 w-16 rounded-md bg-gray-200 text-sm font-medium"></div>
      </div>
      <div class="flex items-center justify-center truncate rounded-xl bg-white px-4 py-8">
        <div class="h-7 w-20 rounded-md bg-gray-200"></div>
      </div>
    </div>

    <div th:fragment="cards" th:each="card: ${cards}" class="rounded-xl bg-gray-50 p-2 shadow-sm">
      <div class="flex p-4">
        <svg th:replace="~{fragments/heroicons :: ${card.icon} ('h-5 w-5 text-gray-700')}"></svg>
        <h3 class="ml-2 text-sm font-medium" th:text="${card.title}">Card Title</h3>
      </div>
      <p class="font-lusitana truncate rounded-xl bg-white px-4 py-8 text-center text-2xl" th:text="${card.value}">
        Card value
      </p>
    </div>
  </body>
</html>
