<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <!--/* TODO shimmer */-->
    <div
      th:fragment="revenue-chart-skeleton"
      class="before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_2s_infinite] before:bg-gradient-to-r before:from-transparent before:via-white/60 before:to-transparent"
      th:classappend="|relative w-full overflow-hidden md:col-span-4|"
      th:hx-get="@{/dashboard/revenue-chart}"
      hx-trigger="load"
    >
      <div class="mb-4 h-8 w-36 rounded-md bg-gray-100"></div>
      <div class="rounded-xl bg-gray-100 p-4">
        <div
          class="mt-0 grid h-[410px] grid-cols-12 items-end gap-2 rounded-md bg-white p-4 sm:grid-cols-13 md:gap-4"
        ></div>
        <div class="flex items-center pb-2 pt-6">
          <div class="h-5 w-5 rounded-full bg-gray-200"></div>
          <div class="ml-2 h-4 w-20 rounded-md bg-gray-200"></div>
        </div>
      </div>
    </div>

    <div th:fragment="revenue-chart-empty" class="w-full md:col-span-4">
      <p class="mt-4 text-gray-400">No data available.</p>
    </div>

    <!--/* TODO mit th:style aus context setzen analog ${lusitana.className} */-->
    <div th:fragment="revenue-chart" class="w-full md:col-span-4">
      <h2 class="mb-4 text-xl md:text-2xl" style="font-family: Lusitana, serif">Recent Revenue</h2>

      <div class="rounded-xl bg-gray-50 p-4">
        <div class="mt-0 grid grid-cols-12 items-end gap-2 rounded-md bg-white p-4 sm:grid-cols-13 md:gap-4">
          <div class="mb-6 hidden flex-col justify-between text-sm text-gray-400 sm:flex" style="height: 350px">
            <p th:each="label : ${yAxisLabels}" th:text="${label}"></p>
          </div>
          <div th:each="revenue : ${revenues}" class="flex flex-col items-center gap-2">
            <!--/* TODO style={{ height: `${(chartHeight / topLabel) * month.revenue}px`, }} */-->
            <div
              class="w-full rounded-md bg-blue-300"
              th:style="|height: ${350.0 / topLabel * revenue.revenue}px|"
            ></div>
            <p class="-rotate-90 text-sm text-gray-400 sm:rotate-0" th:text="${revenue.month}"></p>
          </div>
        </div>
        <div class="flex items-center pb-2 pt-6">
          <div th:replace="~{fragments/heroicons :: calendar-icon ('h-5 w-5 text-gray-500')}"></div>
          <h3 class="ml-2 text-sm text-gray-500">Last 12 months</h3>
        </div>
      </div>
    </div>
  </body>
</html>
