<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="customers-table" id="customers-table" class="mt-6 flow-root">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden rounded-md bg-gray-50 p-2 md:pt-0">
            <div class="md:hidden">
              <div th:each="customer: ${customers}" class="mb-2 w-full rounded-md bg-white p-4">
                <div class="flex items-center justify-between border-b pb-4">
                  <div>
                    <div class="mb-2 flex items-center">
                      <div class="flex items-center gap-3">
                        <img
                          th:src="@{/images{url}(url=${customer.imageUrl})}"
                          th:alt="${customer.name} + '\'s profile picture'"
                          class="rounded-full"
                          width="28"
                          height="28"
                        />
                        <p th:text="${customer.name}">Customer Name</p>
                      </div>
                    </div>
                    <p class="text-sm text-gray-500" th:text="${customer.email}">Customer Email</p>
                  </div>
                </div>
                <div class="flex w-full items-center justify-between border-b py-5">
                  <div class="flex w-1/2 flex-col">
                    <p class="text-xs">Pending</p>
                    <p class="font-medium" th:text="${@webUtils.formatCurrency(customer.totalPending)}"></p>
                  </div>
                  <div class="flex w-1/2 flex-col">
                    <p class="text-xs">Paid</p>
                    <p class="font-medium" th:text="${@webUtils.formatCurrency(customer.totalPaid)}"></p>
                  </div>
                </div>
                <div class="pt-4 text-sm">
                  <p th:text="${customer.totalInvoices + ' invoices'}">total invoices</p>
                </div>
              </div>
            </div>
            <table class="hidden min-w-full rounded-md text-gray-900 md:table">
              <thead class="rounded-md bg-gray-50 text-left text-sm font-normal">
                <tr>
                  <th scope="col" class="px-4 py-5 font-medium sm:pl-6">Name</th>
                  <th scope="col" class="px-3 py-5 font-medium">Email</th>
                  <th scope="col" class="px-3 py-5 font-medium">Total Invoices</th>
                  <th scope="col" class="px-3 py-5 font-medium">Total Pending</th>
                  <th scope="col" class="px-4 py-5 font-medium">Total Paid</th>
                </tr>
              </thead>

              <tbody class="divide-y divide-gray-200 text-gray-900">
                <tr th:each="customer: ${customers}" class="group">
                  <td
                    class="whitespace-nowrap bg-white py-5 pl-4 pr-3 text-sm text-black group-first-of-type:rounded-md group-last-of-type:rounded-md sm:pl-6"
                  >
                    <div class="flex items-center gap-3">
                      <img
                        th:src="@{/images{url}(url=${customer.imageUrl})}"
                        th:alt="${customer.name} + '\'s profile picture'"
                        class="rounded-full"
                        width="28"
                        height="28"
                      />
                      <p th:text="${customer.name}">Customer Name</p>
                    </div>
                  </td>
                  <td class="whitespace-nowrap bg-white px-4 py-5 text-sm" th:text="${customer.email}">
                    Customer Email
                  </td>
                  <td class="whitespace-nowrap bg-white px-4 py-5 text-sm" th:text="${customer.totalInvoices}">
                    Customer Total Invoices
                  </td>
                  <td
                    class="whitespace-nowrap bg-white px-4 py-5 text-sm"
                    th:text="${@webUtils.formatCurrency(customer.totalPending)}"
                  >
                    Customer Total Pending
                  </td>
                  <td
                    class="whitespace-nowrap bg-white px-4 py-5 text-sm group-first-of-type:rounded-md group-last-of-type:rounded-md"
                    th:text="${@webUtils.formatCurrency(customer.totalPaid)}"
                  >
                    Customer Total Paid
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
