<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="pagination" class="inline-flex">
      <div
        th:if="${totalItems > 0}"
        class="mr-2 flex items-center justify-center text-xs md:mr-4"
        th:text="${startIndex + '-' + endIndex + ' of ' + totalItems}"
      />
      <div
        th:replace="~{:: pagination-arrow ('left', @{/dashboard/invoices(currentPage=${currentPage - 1})}, ${currentPage <= 1})}"
      />

      <div class="flex -space-x-px">
        <th:block th:each="pagination : ${paginations}">
          <div
            th:replace="~{:: pagination-number (${pagination.text}, @{/dashboard/invoices(currentPage=${pagination.text})}, ${pagination.position}, ${#strings.toString(currentPage) == pagination.text})}"
          />
        </th:block>
      </div>

      <div
        th:replace="~{:: pagination-arrow ('right', @{/dashboard/invoices(currentPage=${currentPage + 1})}, ${currentPage >= totalPages})}"
      />
    </div>

    <th:block th:fragment="pagination-arrow (direction, href, isDisabled)">
      <div
        th:if="${isDisabled}"
        class="flex h-10 w-10 items-center justify-center rounded-md border"
        th:classappend="${(isDisabled ? 'pointer-events-none text-gray-300 ' : 'hover:bg-gray-100 ')
                + (direction == 'left' ? 'mr-2 md:mr-4 ' : 'ml-2 md:ml-4 ')}"
      >
        <div
          th:replace="~{fragments/heroicons :: ${direction == 'left' ? 'arrow-left-icon' : 'arrow-right-icon'} ('w-4')}"
        />
      </div>
      <a
        th:if="${!isDisabled}"
        class="flex h-10 w-10 items-center justify-center rounded-md border"
        th:classappend="${(isDisabled ? 'pointer-events-none text-gray-300 ' : 'hover:bg-gray-100 ')
                + (direction == 'left' ? 'mr-2 md:mr-4 ' : 'ml-2 md:ml-4 ')}"
        th:href="@{${href}}"
      >
        <div
          th:replace="~{fragments/heroicons :: ${direction == 'left' ? 'arrow-left-icon' : 'arrow-right-icon'} ('w-4')}"
        />
      </a>
    </th:block>

    <th:block th:fragment="pagination-number (text, href, position, isActive)">
      <div
        th:if="${isActive || position == 'middle'}"
        class="flex h-10 w-10 items-center justify-center border text-sm"
        th:classappend="${(position == 'first' || position == 'single' ? 'rounded-l-md ' : '')
                + (position == 'last' || position == 'single' ? 'rounded-r-md ' : '')
                + (isActive ? 'z-10 bg-blue-600 border-blue-600 text-white ' : '')
                + (!isActive && position != 'middle' ? 'hover:bg-gray-100 ' : '')
                + (position == 'middle' ? 'text-gray-300 ' : '')}"
        th:text="${text}"
      ></div>
      <a
        th:unless="${isActive || position == 'middle'}"
        class="flex h-10 w-10 items-center justify-center border text-sm"
        th:classappend="${(position == 'first' || position == 'single' ? 'rounded-l-md ' : '')
                + (position == 'last' || position == 'single' ? 'rounded-r-md ' : '')
                + (isActive ? 'z-10 bg-blue-600 border-blue-600 text-white ' : '')
                + (!isActive && position != 'middle' ? 'hover:bg-gray-100 ' : '')
                + (position == 'middle' ? 'text-gray-300 ' : '')}"
        th:href="@{${href}}"
        th:text="${text}"
      ></a>
    </th:block>
  </body>
</html>
