<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <!--/* TODO mit th:style aus context setzen analog ${lusitana.className} */-->
    <div
      th:fragment="acme-logo"
      class="flex flex-row items-center leading-none text-white"
      style="font-family: Lusitana, serif"
    >
      <div th:replace="~{fragments/heroicons :: globe-alt-icon ('h-12 w-12 rotate-[15deg]')}"></div>

      <p class="text-[44px]">Acme</p>
    </div>

    <th:block th:fragment="nav-links">
      <!--/* 'bg-sky-100 text-blue-600': pathname === link.href, */-->
      <a
        th:each="link : ${links}"
        th:href="@{${link.href}}"
        class="flex h-[48px] grow items-center justify-center gap-2 rounded-md bg-gray-50 p-3 text-sm font-medium hover:bg-sky-100 hover:text-blue-600 md:flex-none md:justify-start md:p-2 md:px-3"
      >
        LinkIcon class="w-6"
        <p class="hidden md:block" th:text="${link.name}">Link</p>
      </a>
    </th:block>

    <div th:fragment="side-nav" class="flex h-full flex-col px-3 py-4 md:px-2">
      <a class="mb-2 flex h-20 items-end justify-start rounded-md bg-blue-600 p-4 md:h-40" th:href="@{/}">
        <div class="w-32 text-white md:w-40">
          <div th:replace="~{:: acme-logo}"></div>
        </div>
      </a>
      <div class="flex grow flex-row justify-between space-x-2 md:flex-col md:space-x-0 md:space-y-2">
        <div th:replace="~{:: nav-links}"></div>
        <div class="hidden h-auto w-full grow rounded-md bg-gray-50 md:block"></div>
        <form>
          <!--/* TODO signout action */-->
          <button
            class="flex h-[48px] grow items-center justify-center gap-2 rounded-md bg-gray-50 p-3 text-sm font-medium hover:bg-sky-100 hover:text-blue-600 md:flex-none md:justify-start md:p-2 md:px-3"
          >
            <div th:replace="~{fragments/heroicons :: power-icon ('w-6')}"></div>
            <div class="hidden md:block">Sign Out</div>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
