<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- see https://daily-dev-tips.com/posts/using-google-fonts-in-a-tailwind-project/ -->
    <th:block th:fragment="fonts">
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Inter&family=Lusitana:wght@400;700&display=swap"
        rel="stylesheet"
      />
    </th:block>
  </head>
</html>
