<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <form th:fragment="login-form" th:action="@{/login}" method="post" class="space-y-3">
      <div class="flex-1 rounded-lg bg-gray-50 px-6 pb-4 pt-8">
        <h1 class="font-lusitana mb-3 text-2xl">Please log in to continue.</h1>
        <div class="w-full">
          <div>
            <label class="mb-3 mt-5 block text-xs font-medium text-gray-900" for="email">Email</label>
            <div class="relative">
              <input
                class="peer block w-full rounded-md border border-gray-200 py-[9px] pl-10 text-sm outline-2 placeholder:text-gray-500"
                id="email"
                type="email"
                name="email"
                placeholder="Enter your email address"
                required
              />
              <svg
                th:replace="~{fragments/heroicons :: at-symbol-icon ('pointer-events-none absolute left-3 top-1/2 h-[18px] w-[18px] -translate-y-1/2 text-gray-500 peer-focus:text-gray-900')}"
              />
            </div>
          </div>
          <div class="mt-4">
            <label class="mb-3 mt-5 block text-xs font-medium text-gray-900" for="password">Password</label>
            <div class="relative">
              <input
                class="peer block w-full rounded-md border border-gray-200 py-[9px] pl-10 text-sm outline-2 placeholder:text-gray-500"
                id="password"
                type="password"
                name="password"
                placeholder="Enter password"
                required
                minlength="6"
              />
              <svg
                th:replace="~{fragments/heroicons :: key-icon ('pointer-events-none absolute left-3 top-1/2 h-[18px] w-[18px] -translate-y-1/2 text-gray-500 peer-focus:text-gray-900')}"
              />
            </div>
          </div>
        </div>
        <button th:replace="~{ :: login-button}"></button>
        <div th:if="${param.error}" class="flex h-8 items-end space-x-1" aria-live="polite" aria-atomic="true">
          <svg th:replace="~{fragments/heroicons :: exclamation-circle-icon ('h-5 w-5 text-red-500')}" />
          <p class="text-sm text-red-500">Invalid credentials</p>
        </div>
      </div>
    </form>

    <!-- TODO aria-disabled={pending} -->
    <!-- TODO button fragment with values from classappend as twMerge() -->
    <button
      th:fragment="login-button"
      class="mt-4 w-full"
      th:classappend="'flex h-10 items-center rounded-lg bg-blue-500 px-4 text-sm font-medium text-white transition-colors hover:bg-blue-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500 active:bg-blue-600 aria-disabled:cursor-not-allowed aria-disabled:opacity-50'"
    >
      Log in
      <svg th:replace="~{fragments/heroicons :: arrow-right-icon-solid ('ml-auto h-5 w-5 text-gray-50')}" />
    </button>
  </body>
</html>
