<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout_dashboard}"
>
  <head>
    <title>Invoices</title>
  </head>

  <body>
    <main layout:fragment="content">
      <div class="w-full">
        <div class="flex w-full items-center justify-between">
          <h1 class="font-lusitana text-2xl">Invoices</h1>
        </div>
        <div class="mt-4 flex items-center justify-between gap-2 md:mt-8">
          <div
            th:replace="~{fragments/common :: search ('Search invoices ...', @{/dashboard/invoices/table}, '#invoices-table')}"
          />
          <div th:replace="~{fragments/invoices/buttons :: create-invoice}" />
        </div>
        <!--/* load cards invoices table skeleton, skeleton then loads its content via hx-get */-->
        <div th:replace="~{fragments/invoices/table :: invoices-table-skeleton}" />
      </div>
    </main>
  </body>
</html>
