<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout_dashboard}"
>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <main layout:fragment="content" class="container">
      <!--/* TODO style lusitana */-->
      <!--/* TODO mit th:style aus context setzen analog ${lusitana.className} */-->

      <h1 class="row" style="font-family: Lusitana, serif">Dashboard</h1>
      <div id="dashboard-cards" class="row">
        <!--/* load cards skeleton, each card skeleton then loads its content via hx-get */-->
        <div th:replace="~{fragments/dashboard/cards :: cards-skeleton}" />
      </div>

      <div class="row">
        <!--/* load revenue chart skeleton, skeleton then loads its content via hx-get */-->
        <div th:replace="~{fragments/dashboard/revenue-chart :: revenue-chart-skeleton}" />

        <!--/* load latest invoices skeleton, skeleton then loads its content via hx-get */-->
        <div th:replace="~{fragments/dashboard/latest-invoices :: latest-invoices-skeleton}" />
      </div>
    </main>
  </body>
</html>
