<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Acme Dashboard</title>
    <meta name="description" content="The official Next.js Learn Dashboard built with App Router." />
    <link th:replace="~{fragments/fonts :: fonts}" />

    <link th:if="${!isDevserver}" th:href="@{/css/bundle.css}" rel="stylesheet" />
    <script th:src="@{/js/bundle.js}" defer></script>
  </head>

  <body class="font-inter antialiased" hx-boost="true">
    <div class="flex h-screen flex-col md:flex-row md:overflow-hidden">
      <div class="w-full flex-none md:w-64">
        <div th:replace="~{fragments/dashboard/side-nav :: side-nav}" />
      </div>
      <div class="grow p-6 md:overflow-y-auto md:p-12">
        <div layout:fragment="content" />
      </div>
    </div>
  </body>
</html>
