<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">[[#{app.title}]]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link th:if="${!isDevserver}" th:href="@{/css/bundle.css}" rel="stylesheet" />
    <script th:src="@{/js/bundle.js}" defer></script>
  </head>
  <body hx-boost="true">
    <div class="flex h-screen flex-col md:flex-row md:overflow-hidden">
      <div class="w-full flex-none md:w-64">
        <div th:replace="~{fragments/common :: side-nav}"></div>
      </div>
      <div class="grow p-6 md:overflow-y-auto md:p-12">
        <div layout:fragment="content"></div>
      </div>
    </div>
  </body>
</html>
